{% extends 'base.html' %}
{% load static %}


{% block content %}
<h1 class="content text-center mb-4">About us</h1>

<!-- Card deck -->
<div class="card-deck">

  <!-- Card -->
  <div class="card mb-5">

    <!--Card image-->
    <div class="view overlay zoom">
      <img class="card-img-top" src="{% static 'img/leo-500x500.jpg' %}"
        alt="Card image cap">
      <a href="https://www.linkedin.com/in/leo-kukharau/" target="_blank">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Leo Kukharau</h4>
      <!--Text-->
      <p class="card-text text-justify">Python and JavaScript developer with background in science, teaching, human services, and entrepreneurship. Passionate about using code to maximize efficiency while developing creative, customer-focused solutions</p>

    </div>

  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-5">

    <!--Card image-->
    <div class="view overlay zoom">
      <img class="card-img-top" src="{% static 'img/joe.jpeg' %}"
        alt="Card image cap">
      <a href="https://github.com/josephlee3454" target="_blank">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Joseph Lee</h4>
      <!--Text-->
      <p class="card-text text-justify">Python developer and marine corps vetran of four years. Former truck driver as well with a passion in building software to ease trucking logistics</p>

    </div>

  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-5">

    <!--Card image-->
    <div class="view overlay zoom">
      <img class="card-img-top" src="{% static 'img/chuck.jpg' %}"
        alt="Card image cap">
      <a href="https://github.com/ticochuck" target="_blank">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body">

      <!--Title-->
      <h4 class="card-title">Chuck Li Villalobos</h4>
      <!--Text-->
      <p class="card-text text-justify">I am a Software Developer, passionate about capturing and analyzing data, eliminating unnecessary tasks, and improving customer and user experience</p>

    </div>

  </div>
  <!-- Card -->

</div>
<!-- Card deck -->
{% endblock content %}

