{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="full-heigh">
  <h1 class="content text-center mb-4">Profile ({{ user.username }})</h1>

  <div class="border border-light p-3 white-background">
    <form method="post" class="content text-center">
      {% csrf_token %}
      <fieldset>
        {{ form|crispy }}
        <button type="submit" class="btn btn-mdb-color">
          Update
        </button>  
      </fieldset>
    </form>
  </div>
</div>
{% endblock content %}